@import url('https://googleapis.com');

body {
    display: flex;
    margin: auto;
    padding: auto;
    flex-direction: column;
}

#header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: #FFFFFF;
    border-bottom: 2px inset #0d5519;
    border-radius: 6px;
    box-shadow: 0px 3px 25px #99c2a0;
}

#logo {
    width: 125px;
    height: 125px;
    margin-left: 50px;   
}

#comeco {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

#instrucao {
    display: flex;
    width: 45%;
    height: auto;
    padding: 10px;
    flex-direction: column;
    border: 2px solid #0d5519;
    border-radius: 6px;
    box-shadow: 0px 3px 25px #99c2a0;
}

p {
    font-size: medium;
}

.direcao {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.bloco {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.boxDiv {
    width: 170px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: hsla(130, 98%, 19%, 0.3);
    border: 3px solid #1c5c27;
    border-radius: 10px;
}

.boxDiv2 {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: hsla(130, 98%, 19%, 0.3);
    border: 3px solid #1c5c27;
    border-radius: 10px;
}

.alinhar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


h1 {
    display: flex;
    align-self: center;
}

h1, h2 {
    color: #1c5c27;
    font-family:  "Orbitron", sans-serif;
}

p {
    font-family: 'Inter', sans-serif;
}


.explicacao {
    width: 380px;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: lightyellow;
    padding-inline: 15px;
    border: 3px solid rgb(255, 232, 101);
    border-radius: 10px;
    overflow-wrap: break-word;
}

.explicacao2 {
    width: 200px;
    height: auto;
    display: flex;
    justify-content: center;
    padding-inline: 5px;
    background-color: lightyellow;
    border: 3px solid rgb(255, 232, 101);
    border-radius: 10px;
    overflow-wrap: break-word;
}

#boxTitulo {
    display: flex;
    width: 50%;
    flex-direction: column;
}

#titulo {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin-top: 10%;
}

#desafio {
    font-size: 190px;
    font-weight: 600;
    color: #1c5c27;
    margin: auto;
    font-family:  "Orbitron", sans-serif;
}

#curso {
    font-size: 90px;
    font-weight: 400;
    margin: auto;
    font-family:  "Orbitron", sans-serif;
}